@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap');
$Gemunu-Libre:'Gemunu Libre', sans-serif;
$Fuentes:(
    "200": (font-weight: 200),
    "300": (font-weight: 300),
    "400": (font-weight: 400),
    "500": (font-weight: 500),
    "600": (font-weight: 600),
    "700": (font-weight: 700),
    "800": (font-weight: 800),
);
$tamañoMenu: 300px;
$tamañoFotoPerfil: 300px;
$black:#333, #333, rgba(0,0,0, 0.05), #777;
$white:#fff, #fff;



    

