-let menu = [{href:"#",name:"Inicio"},{href:"#",name:"Inicio"},{href:"#",name:"Inicio"},{href:"#",name:"Inicio"},{href:"#",name:"Inicio"}]
-let portafolio = "Portafolio";
-let iconos = {Name:"ion-icon", "Menu":'menu-outline'};
-let Perfil = {img: "img/foto.jpg", Name:"Miguel Angel", description:'Curso de fundamentos de maquetación web (front-end developer)'};