-let menu = [{href:"#banner",name:"Inicio"},{href:"#about",name:"Acerca de"},{href:"#",name:"Servicios"},{href:"#",name:"Proyectos"},{href:"#",name:"Testigos"},{href:"#",name:"Contactos"}]
-let menuIformacion = {about:{Titulo:"Subsidio del 100% para afiliados y beneficiarios categorías A y B de Comfenalco Santander.", Texto:"Dominar los conceptos fundamentales del lenguaje HTML CON PUG Y CSS CON SASS.<br><br>Configuración del entorno de trabajo para el editor y sus paquetes<br><br>Configuración del entorno de trabajo para el editor y manejo de versiones de código con GITHUB<br><br>Conocer la sintaxis del lenguaje HTML CON PUG Y CSS CON SASS.<br><br>Resolver taller práctico y comprender la lógica de la maquetación web.<br><br>", Imagen:{src:"img/about.png", alt:"Hola"}}}
-let Botones = {Hoja:{href:"#",name:"Descargar Hoja de vida"}}
-let portafolio = "Portafolio";
-let iconos = {Name:"ion-icon", "Menu":'menu-outline', "RedesSociales": [{href:"#",name:"logo-facebook"},{href:"#",name:"logo-twitter"},{href:"#",name:"logo-linkedin"},{href:"#",name:"logo-instagram"}]};
-let Perfil = {img: "img/foto.jpg", Name:"Miguel Angel", description:'Curso de fundamentos de maquetación web (front-end developer)'};
